
.container {
  display: flex;
  max-width: 700px;
  width: 100%;
  flex-direction: column;

  
}
.container h2 {
    margin-top: 64px;
    margin-bottom: 16px;
  }

.emptyState {
  text-align: center;
}
