
.inputContainer {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #6abd36;
  color: #fff;
  flex-direction: column;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.inputWrapper {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 700px;

  
}
.inputWrapper input {
    width: 100%;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  
}
label span {
    font-size: 11px;
    margin-left: 5px;
    color: #ffdc00;
  }
