
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  color: #142433;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
input {
  padding: 16px;
  font-size: 14px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
}
input::placeholder {
    opacity: 0.6;
}

input:focus {
  outline: none;
  border: 1px solid #d6d6d6;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
